@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  background: white;
}

section {
  max-width: 1024px;
  background: white;
  margin: 5rem auto 0;
  padding: 0 2rem 2rem;
}
